@model IEnumerable<Negotiation.Models.NegotiationActionModel>
@{
    Layout = null;
}

<div id="actionHistory" style="border-style:solid; border-color:turquoise">
    <h2>History of actions</h2>
    <table border="1">
        <tr>
            <th>
                RemainingTime
            </th>
            <th>
                Proposer
            </th>
            <th>
                Action
            </th>
            <th>
                Value
            </th>
        </tr>
        @foreach (var action in Model.Reverse())
        {
            <tr>
                <td>
                    @action.RemainingTime
                </td>
                <td>
                    @action.Role
                </td>
                <td>
                    @action.Type
                </td>
                <td>
                    @action.Value
                </td>
            </tr>
        }
    </table>
</div>

