@model Negotiation.Models.OfferViewModel
@{
    Layout = null;
}
<table>
    <tr>
        <td>
            <b>Issue:</b>
        </td>
    </tr>
    @foreach (var topic in Model.Offer.Offers)
    {
        <tr>
            <td>
                @(topic.Key + ":")
            </td>
            <td id='@(Model.DataPrefix)_@(topic.Key.Replace(' ','_'))'>
                @topic.Value
            </td>
        </tr>
    }
</table>