@model Negotiation.Models.NegotiationConfigurationModel
@{
    ViewBag.Title = "NegotiationConfiguration";
}

<h2>NegotiationConfiguration</h2>

<div>
    @Html.BeginForm("NewActiveDomain", "Negotiation", FormMethod.Post)
    {
        <h2>Active Domain:</h2>
        @Html.DropDownListFor(m => m.ActiveDomain, Model.Domains.Select(x => new SelectListItem {Text=x, Value=x}), Model.ActiveDomain);

        <input type="submit" class="btn btn-default" value="Set Active Domain" />
    }
</div>




