@{
    Layout = null;
    ViewBag.Title = "PreNegotiation Questionnaire";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body style ="text-align:center">
    <div>
        <h2>Pre-Negotiation Questionnaire</h2>
    </div>
    <div>
        The experiment will begin with a questionnaire. Please answer the questions on this page. Press Continue when finished.
    </div>
    <div>

    </div>
</body>
</html>
